@melon:#F1574D;
@agua:#A5C7E7;
@verde:#86CEBC;
@verde2: #609DA2;
@gray-border: #ccc;
@gray-baner: #50576A;
@gray:#2c2f3e;

@blanco: #fff;


@img-path:'../img';

@screen-xxs-min: 100px;
@screen-xxs-min: 300px;
@screen-xs-min: 450px;
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;


.align(@posicion:center){text-align:@posicion}
.left(){.align(left)}
.fw(@fw:bold){font-weight:@fw;}





.bg(@color:#f00) { background: @color; }
.border-color(@color:@gray-border){
    border: 1px @color solid;
}