@import "general.less";

body{ font-family: 'Droid Sans', sans-serif; color:@gray-border}

.menu{
	.span{ color:@agua;}
	
	.nav{
		padding-top: 10px;
		li.active a{
			color:@melon;
		}

		a { color:@gray;
			&:hover{ 
				color:@melon;
				background-color: @blanco;
				border: 2px solir @melon;
			 }
		}
	}
	.navbar-toggle .icon-bar {
    	background-color: @agua;
	}	

	.navbar-toggle {
	    position: relative;
	    float: right;
	    // margin-right: 15px;
	    // padding: 9px 10px;
	    margin-top: 25px;
	    // margin-bottom: 25.5px;
	    background-color: transparent;
	    background-image: none;
	    border: 1px solid transparent;
	    border-radius: 4px;
	}	
}


.navbar-logo(@img:'logo-mangara.png', @width:251px){
	.navbar-brand{
		margin: 10px 0px 7px 10px;
		width:@width;
		height:60px;
		background: url("@{img-path}/@{img}") no-repeat center bottom;	
		padding:0px;
	}
}


.container-input-pass(@w:100%, @img:"x.png", @h:400px){
	.yourText{
		// height: 100%;
		margin-top: -20px;
		padding-top: 20px;
		background: @gray-baner url("@{img-path}/@{img}") no-repeat center bottom;
		//background-color: red;
		.form-control{
			margin-top: 20px;
			font-size: 25px;
			height: 55px;
			width:@w;	
		}

		.text{
			padding:30px 20px 10px 20px;
			color: @gray-border;
			width: @w;
			button{
				.bg(#303F6B);
				border: 1px solid darken(#303F6B, 10%);
				padding: 3px 5px;
				color: @melon;
			}
			.glyphicon{color: @melon; padding-right: 10px;}
			p{   .align(justify);}
		}
		.suggested-pass{
			width: @w;
			padding: 20px 15px 30px 15px;
			color:@verde;
			//.fw;
			h4{ color: @blanco}
			.pwd{ 
				margin: 0px 20px;
				font-size: 20px;
				color:darken(@verde, 10%); 
				padding: 7px; border: 0px solid #666; .bg(darken(@gray-baner, 5%))
				// .bg(darken(@melon, 6%))
				
			 }
		}
	}
}
.pwd {font-family: 'Source Code Pro'; padding: 3px; .align; font-size:16}
.yourText{
	h1{ color:@melon; }
	.container{ 
		margin-top:20px; 
	}
}


.pass-editor{
	color: @blanco;
	//background: @gray-baner url("@{img-path}/pass-editor.jpg") no-repeat center center;
	.bg(darken(@verde2, 15%));
	padding-bottom: 50px;
	h2{ color:@blanco; .align; .fw; margin-bottom: 30px}
	.row { .bg(darken(@verde2, 5%)); padding-bottom: 20px;}
	.col {
		border-left: 1px solid darken(@verde2, 15%);
		// height: 350px;
		//width: 99%;
		//border: 2px @verde2 solid;
		h5 { margin-top:20px;  padding-left: 10px; 
			.glyphicon{color:darken(@verde2, 30%); padding-right: 7px;}
		}
		.pwd{ 
			padding: 10px;
			.bg(darken(@verde2, 20%));
			color: #ccc;
			 
			border: 1px dashed #ccc;
		}
	}

	.pimp{
		//.bg(darken(@verde2, 15%));
		padding-bottom: 20px;
		.random {
			.align(right);


			.random-words { 
				  color: #FFFFFF; 
				  background-color: #303F6B; 
				  border-color: ; 
				} 
				 
				.random-words:hover, 
				.random-words:focus, 
				.random-words:active, 
				.random-words.active, 
				.open .dropdown-toggle.random-words { 
				  color: #FFFFFF; 
				  background-color: #303F6B; 
				  border-color: ; 
				} 
				 
				.random-words:active, 
				.random-words.active, 
				.open .dropdown-toggle.random-words { 
				  background-image: none; 
				} 
				 
				.random-words.disabled, 
				.random-words[disabled], 
				fieldset[disabled] .random-words, 
				.random-words.disabled:hover, 
				.random-words[disabled]:hover, 
				fieldset[disabled] .random-words:hover, 
				.random-words.disabled:focus, 
				.random-words[disabled]:focus, 
				fieldset[disabled] .random-words:focus, 
				.random-words.disabled:active, 
				.random-words[disabled]:active, 
				fieldset[disabled] .random-words:active, 
				.random-words.disabled.active, 
				.random-words[disabled].active, 
				fieldset[disabled] .random-words.active { 
				  background-color: #303F6B; 
				  border-color: ; 
				} 
				 
				.random-words .badge { 
				  color: #303F6B; 
				  background-color: #FFFFFF; 
				}

			button, .active{
				margin: 0 auto;
				padding: 10px;
				.align;
			}
		}
	}
	.simbols{
		.align;
		span img{ 
			.bg(darken(@melon, 0%));
			border-radius: 20%;
			padding: 3px;
			width: 25px;
			margin-top: 5px;
		}
	}
	.alfanumerico{
		margin-left: 30px;
		input { width: 50px}
	}
}


.footer{
	
	.bg(#333);
	.logo img{ margin-top: 25px;}
	.social-media{
		color:lighten(@melon, 10%);
		padding-top: 30px;
		a i { padding: 0px 6px; color:lighten(#303F6B, 10%)}
		font-size: 30px;
		.align(right);
	}
	
}

.letritras{
		height:40px;
		.bg(#222);
		p{
			color: #999;
			.align;
			margin-top: 10px;
		}
	}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.navbar-logo("logo-xm.png", 60px);
.container-input-pass;
@media (min-width: @screen-xxs-min) {  //@screen-xxs-min: 100px;
	.navbar-logo("logo-xm.png", 60px);
	.container-input-pass;
}

@media (min-width: @screen-xxs-min) {  //@screen-xxs-min: 300px;
	.navbar-logo("logo.png", 200px);
}

@media (min-width: @screen-xs-min) {  //@screen-xs-min: 450px;
	.navbar-logo;	
}

@media (min-width: @screen-sm-min){  //@screen-sm-min: 768px;
	.container-input-pass(58%, "form_bannerb.jpg", 400px);
}


@media (min-width: @screen-md-min) {  //992px and up
	.container-input-pass(55%, "form_bannerb.jpg", 400px);
}

@media (min-width: @screen-lg-min){ // 1200px and up}


// @media (min-width: 1200px) { 
// 	.nav {
// 		font-size: 15px;
// 		.navbar-brand{
// 			img{ height:10px;}
// 		}
// 	}
// }


// .navbar-brand{
// 			img{ height:10px;}
// }

// @media (min-width: @screen-sm-min) { 
// 	.navbar-brand{
// 		img{ height:35px;}
// 	}
// }

// /* Medium devices (desktops, 992px and up) */
// @media (min-width: @screen-md-min) { 

// .navbar-brand{
// 		img{ height:40px;}
// 	}
//  }

// /* Large devices (large desktops, 1200px and up) */
// @media (min-width: @screen-lg-min) {  
// 	.nav {
// 		font-size: 20px;}
// 	.navbar-brand{
// 			img{ height:60px;}
// 	}
// }


// @media (max-width: @screen-xs) {
//     body{font-size: 10px;}
// }


//h1{ text-align: center;}


// .pwd{ 
// 	font-family: 'Source Code Pro';
// 	font-size: 18px;
// 	display: block;
// 	border: 1px solid #ccc;
// 	padding: 10px; 	
// }

// #yourText{
// 	padding: 3px 0px 50px 0px;
// }

// #yourText .text { 
// 	font-size: 25px;
// 	height: 50px;
// 	/*padding: 0px 0px 0px 10px;*/
// }


// #yourText span { 
// 	font-size: 15px;
// 	font-style: italic;
// 	color: #999;
// }

// #yourText  .row{
// 	padding: 10px 0px 0px 0px;
// }

// .render{
// 	margin-bottom: 10px;
// 	text-align: center;
	
// }
// .render h4{
// 	text-align: center;
// 	font-size: 15px;
// 	color:#666;
// }

// .render .row{
// 	margin: 50px 0px;
// }

// .yourStyle{
// 	background-color: #eee;
// 	border: 0px solid #bbb;
// 	margin-bottom: 20px;
// }


// .yourStyle .row{
// 	padding: 5px 10px;
// }

// .yourStyle .pwd{
// 	text-align: center;
// 	background-color: #ADC2FF;
// 	margin-bottom: 10px;
// }

// h3{
// 	font-size: 20px;
// }



// .yourStyle .sim_button{
// 	width: 22px;
// 	height: 22px;
// 	/*border-radius: 5px 20px 5px;*/
// 	/*border-radius: 50%;*/
// 	border-radius: 30%;
// 	/*border: 1px solid #ddd;*/
// 	margin: 0px 1px;
// 	padding: 1px;
// 	background-color: #336699;
// }



